body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    color: #555;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #30BEC0;
}

.search-icon {
    font-size: 18px;
    color: #555;
    cursor: pointer;
}


.Container {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 20px auto;
    padding: 20px;
}

.leftColumn, .rightColumn {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    margin: 5px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

strong {
    color: #333;
}

.socialLinks a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.socialLinks a:hover {
    text-decoration: underline;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form label {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0088cc;
}