*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    height: 150px;
    background-color: rgb(45, 154, 255);
}
.section_title{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    /* background-color: #9c0d0d; */
}
.section_title ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.section_title ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(85, 85, 85);
    font-size: 30px;
}
.section_title ul li {
    margin-right: 50px;
    color: rgb(85, 85, 85);

}
.tintuc-news_1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.tintuc-news_1 img{
    width: 100%;
    height: 100%;
    display: block;
}
.tintuc-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.tintuc-banner img, .tintuc-news_2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tintuc-news_2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title_box_news{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}
.text-items{
    background-color: rgb(0, 194, 194);
}
.text-items>p {
    padding: 5px 0 5px 15px;
    font-size: 15px;
    color: white;
}
.text-items>h3 {
    padding: 5px;
    font-size: 20px;
    color: white;
}   
.text-items>p>a{
    font-size: 18px;
    text-decoration: none;

}
.tintuc_container_news{
    margin-bottom: 50px;
}

header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 100px;
}

nav{
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
        text-decoration: none;

    color: #555;
    font-size: 14px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #30BEC0;
}

.search-icon {
    font-size: 18px;
    color: #555;
    cursor: pointer;
}

@media (max-width: 767px) {
    .mobile-none {
      display: none;
    }
  }
  

 /* FOOTER  */
  .footer {
    background: linear-gradient(135deg, #004a53, #06005a);
    padding: 40px 20px;
    color: #ddd;
    text-align:left;
}
.footer .banquen{
    text-align: center;
}
.footer a {
    color: #ddd;
    text-decoration: none;
}
.footer a:hover {
    color: #c7ca00;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}
.footer-section {
    margin-bottom: 20px;
}
.subscribe-box {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #fff;
    max-width: 400px;
    margin: auto;
}
.subscribe-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}
.subscribe-box button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #222;
    cursor: pointer;
}
.subscribe-box button:hover {
    background: #ddd;
}
 /* FOOTER  */
  .footer {
    background: linear-gradient(135deg, #004a53, #06005a);
    padding: 40px 20px;
    color: #ddd;
    text-align:left;
}
.footer .banquen{
    text-align: center;
}
.footer a {
    color: #ddd;
    text-decoration: none;
}
.footer a:hover {
    color: #c7ca00;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}
.footer-section {
    margin-bottom: 20px;
}
.subscribe-box {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #fff;
    max-width: 400px;
    margin: auto;
}
.subscribe-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}
.subscribe-box button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #222;
    cursor: pointer;
}
.subscribe-box button:hover {
    background: #ddd;
}
